<?xml version="1.1" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.keju.maomao"
    android:versionCode="1"
    android:versionName="v1.0beta" >

    <uses-sdk  android:minSdkVersion="7"
        android:targetSdkVersion="10" />
     <uses-permission android:name="android.permission.READ_PHONE_STATE" />
     <!-- 定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
 	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 网络访问权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/> 
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>    
     <!-- SD卡读写权限 -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<!--  允许挂载和反挂载文件系统可移动存储 -->
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
	<!-- 友盟: 获取用户手机的IMEI，用来唯一的标识用户。(如果您的应用会运行在无法读取IMEI的平板上，我们会将mac地址作为用户的唯一标识，请添加权限： android.permission.ACCESS_WIFI_STATE ) -->
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.READ_LOGS"></uses-permission>
    <application
        android:icon="@drawable/ic_launcher"
        android:allowBackup="true"
        android:label="@string/app_name" 
        android:theme="@android:style/Theme.Light.NoTitleBar"
        android:name=".CommonApplication">
        <activity
            android:name=".activity.LogoActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100492496" /><!-- 100380359 100381104 222222 -->
            </intent-filter>
        </activity>
        <activity  android:name=".activity.FirstStartActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
        <activity  android:name=".activity.AuthorizeActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
        <activity  android:name=".activity.MainActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
        <activity  android:name=".activity.LoginActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity> 
        <activity  android:name=".activity.RegisterActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>  
        <!--酒吧 -->
        <activity  android:name=".activity.bar.BarListActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
        <activity  android:name=".activity.bar.BarDetailActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
        <activity  android:name=".activity.bar.SearchActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
        <activity  android:name=".activity.bar.SearchListActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
        <activity  android:name=".activity.bar.ShowBarEnvironmentActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
        <activity  android:name=".activity.bar.PhotoShowActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden" ></activity>   
        <activity  android:name=".activity.bar.NearbyBarListActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
        <activity  android:name=".activity.my.CollectionOfBarListActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
       <!--个人信息 -->
        <activity android:name=".activity.personalnfo.PersonalInfoActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
        <activity android:name=".activity.personalnfo.BirthdaySetActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
        <activity android:name=".activity.personalnfo.PersonalizedSignatureActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
        <activity android:name=".activity.personalnfo.NickNameActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
        <activity android:name=".activity.personalnfo.ChangingPasswordActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
        <activity android:name=".activity.personalnfo.ProvinceAcitvity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden" ></activity>
        <activity android:name=".activity.personalnfo.CityActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden" ></activity>
         <!-- 消息 -->
         <activity android:name=".activity.news.NewsActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>  
         <activity android:name=".activity.news.SystemNewsListActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>      
         <activity android:name=".activity.news.PrivateNewsListActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>  
         <activity android:name=".activity.news.PrivateLetterActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
         <!--个人中心 -->
         <activity android:name=".activity.personalcenter.PersonalCenter" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity> 
         <activity android:name=".activity.personalcenter.FriendPersonalCenter" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
         <!--设置 -->
         <activity android:name=".activity.setting.SettingAboutActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
         <activity android:name=".activity.setting.SettingActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
         <activity android:name=".activity.setting.SettingFeedbackActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
         <activity android:name=".activity.setting.SettingNoticeActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
         
         <!-- 活动 -->
         <activity android:name=".activity.event.EventListActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
		 <!-- push服务 -->
         <service android:name=".service.PullService"></service>
         <!-- 检测更新 -->
         <service
    	 android:name="com.umeng.common.net.DownloadingService"
    	 android:exported="true"
    	 android:process=":DownloadingService" >
		 </service>
         <meta-data android:value="527a10b556240b89fc033613" android:name="UMENG_APPKEY"/>
        <meta-data android:value="360" android:name="UMENG_CHANNEL"/>
    </application>
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true" />
</manifest>