<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maoba"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
     <!-- 定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
 	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 网络访问权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/> 
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>    
     <!-- SD卡读写权限 -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<!--  允许挂载和反挂载文件系统可移动存储 -->
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
	<!-- 友盟: 获取用户手机的IMEI，用来唯一的标识用户。(如果您的应用会运行在无法读取IMEI的平板上，我们会将mac地址作为用户的唯一标识，请添加权限： android.permission.ACCESS_WIFI_STATE ) -->
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.READ_LOGS"></uses-permission>
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" 
        android:theme="@android:style/Theme.Light.NoTitleBar"
        android:name="com.maoba.CommonApplication">
        <activity
            android:name=".activity.LogoActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100492496" /><!-- 100380359 100381104 222222 -->
            </intent-filter>
        </activity>
        <activity  android:name=".activity.AuthorizeActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
        <activity  android:name=".activity.MainActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
        <activity  android:name=".activity.LoginActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity> 
        <activity  android:name=".activity.RegisterActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>  
        <!--酒吧 -->
        <activity  android:name="com.maoba.activity.bar.BarListActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
        <activity  android:name="com.maoba.activity.bar.BarDetailActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
        <activity  android:name="com.maoba.activity.bar.SearchActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
        <activity  android:name="com.maoba.activity.bar.SearchListActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
       <!--个人信息 -->
        <activity android:name="com.maoba.activity.personalnfo.PersonalInfoActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
		<!-- push服务 -->
        <service android:name=".service.PullService"></service>
         <meta-data android:value="51f5c71456240b8f8b022f77" android:name="UMENG_APPKEY"/>
        <meta-data android:value="360" android:name="UMENG_CHANNEL"/>
    </application>
</manifest>